* {
    border: none;
    border-radius: 0;
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
	background: transparent;
}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
    margin-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
	border-radius: 26px;
	transition: none;
    color: transparent;
	background: transparent;
}

#workspaces {
	margin-top: 6px;
	margin-left: 12px;
	margin-bottom: 0;
	border-radius: 26px;
	background: #282a36;
	transition: none;
}

#workspaces button {
	transition: none;
	color: #ffffff;
	border-color: #ffffff;
	background: transparent;
	font-size: 14px;
}

#workspaces button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	color: #ff0000;
}

#pulseaudio {
	margin-top: 6px;
	margin-left: 7px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 26px;
	transition: none;
	color: #ffffff;
	background: #5a0500;
}

#network {
	margin-top: 6px;
	margin-left: 7px;
	padding-left: 17px;
	padding-right: 17px;
	margin-bottom: 0;
	border-radius: 26px;
	transition: none;
	color: #ffffff;
	background: #5a0500;
}

#memory {
	margin-top: 6px;
	margin-left: 7px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 26px;
	transition: none;
	color: #ffffff;
	background: #5a0500;
}

#backlight {
	margin-top: 6px;
	margin-left: 7px;
	padding-left: 16px;
	padding-right: 16px;

	margin-bottom: 0;
	border-radius: 26px;
	transition: none;
	color: #ffffff;
	background: #5a0500;
}

#language {
	margin-top: 6px;
	margin-left: 7px;
	padding-left: 19px;
	padding-right: 19px;

	margin-bottom: 0;
	border-radius: 26px;
	transition: none;
	color: #ffffff;
	background: #5a0500;
}

#battery {
	margin-top: 6px;
	margin-left: 7px;
	padding-left: 12px;
	padding-right: 12px;

	margin-bottom: 0;
	border-radius: 26px;
	transition: none;
	color: #ffffff;
	background: #5a0500;
}

#clock {
	margin-top: 6px;
	margin-left: 7px;
	
	padding-left: 12px;
	padding-right: 12px;

	border-radius: 20px;
	transition: none;
	color: #ffffff;
	background: #5a0500;
}

#custom-power {
	margin-top: 6px;
	margin-left: 22px;
	margin-right: 12px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 90px;
	transition: none;
	color: #ffffff;
	background: #282a36;
}